.venv/
__pycache__/
.env

*.pt
6章/code/GoogleNews-vectors-negative300.bin.gz
8章/out/out_embedding_matrix_70.npy
8章/out/out_word2id_70.pkl
8章/out/out_71_dev.pkl
8章/out/out_71_train.pkl
8章/out/out_73_model.pt
8章/out/out_76model_lstm.pt
8章/out/out_77_model_bilstm.pt
8章/out/out_78_model_textcnn.pt
8章/out/out_79_model_textcnn.pt
9章/out/out_85_dev.pkl
9章/out/out_85_train.pkl
10章/out/out_98_ft_gpt2
10章/out/out_99_dpo_gpt2